
    .name{
        border:1px solid black;
        padding:5px;
        margin:5px;
        width:150px;
        text-align:start;
        border-bottom:5px solid gray;


    }
    .dropdownlist{
        position:absolute;
        background-color: green;
        top:30px;
        /* display:none */
        left:4px;
        display:none;

    }
    .styleicon{
        margin-right:10px;
    }
    .dropdown{
        position:relative;
        background-color:blue;
        color:white;
        text-align:center;
        padding:4px;
        width:105px;
        display:flex


    }
    .stylecourses{
        margin-left:5px;
    }

    .dropdown:hover  .dropdownlist {
        display:block;
    }
    

    .dropdown:hover {
        background-color: green ;
        color:black;
    }
    .name:hover{
        background-color:yellow;
        color:black
    }
    .navBar{
        display:flex;
        border:5px solid black;
        padding:2px;
        display:flex;
       justify-content:space-between;
       color:violet;
        background-color: green;
        text-align:center;
        align-items:center;
        position:fixed;
        top:0;
        width:98%;



    }
    .navItems{
        display:flex;
    }
    .navSubItems{
        padding:5px;
        background-color: orange;
        color:white;
        text-align:center;
        width:107px;
    }
    .header{
        text-align: center;
        border:2px solid rgb(104, 104, 179);
        background-image: url(https://images.pexels.com/photos/159213/hall-congress-architecture-building-159213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        height:300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

     .productsection{
        border:2px solid grey;
        background-color:rgb(183, 127, 235);
        height:250px;
        display:flex;
        margin-top:10px;
     }
     .servicesection{
        border:2px solid rgb(219, 85, 85);
        background:linear-gradient(to right,orange,yellow);
        height:262px;
        margin-top:10px;
        display:flex;

     }
     .product{
        border:2px dotted rgb(240, 57, 57);
        width:18%;
        margin:auto;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;

     }
     
     .service{
        border:2px solid rgb(3, 3, 48);
        width:16%;
        margin:auto;
       
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-bottom-left-radius: 10%;


     }
     .productImage{
       height:170px;
       background-position:center;
       background-size:cover;
       background-repeat:no-repeat;
       border-top-left-radius:5%;
       border-bottom-right-radius: 5%;
     }
     .productimage1{
       background-image:  url(https://images.pexels.com/photos/1181298/pexels-photo-1181298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
     }
     .productimage2{
        background-image: url(https://images.pexels.com/photos/1181671/pexels-photo-1181671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
     }
     .productimage3{
        background-image: url(https://media.istockphoto.com/id/1486662537/photo/c-programming-language-for-mobile-development-concept-smartphone-on-the-laptop-keyboard-the.jpg?s=1024x1024&w=is&k=20&c=P0_aCBYVynsOtB-Jamrs0zFddH7TIB3LfCW7EPW4_FA=)
     }
     .productimage4{
       background-image:  url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
     }
     .serviceImage{
        height:170px;
        background-position:center;
       background-size:cover;
       background-repeat:no-repeat;
       border-top-right-radius:5%;
       border-bottom-left-radius: 5%;
     }
    .productsummary{
        text-align:center;
        margin-top:1px;
        color:greenyellow;
        background-color: red;
        font-style: italic;
    }
    .servicesummary{
        text-align:center;
        margin-top:1px;
        color:white;
        background-color: red;
        font-style:oblique;
    }

    .servicegradient{
        background:linear-gradient(to right,orange,yellow);
    }
    .serviceImage{
        background-image: url(https://images.pexels.com/photos/518244/pexels-photo-518244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    .contactusform{
        border:1px solid rgb(3, 49, 3);
        margin:1% ;
        width:99%;
        height:380px;
        background-image: url(https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       
        
    }
    .formsection1,.formsection2{
        display:flex;
        justify-content:space-evenly;
       
        padding:5px;
    }
    .container{
        background-color: sienna;
    }

    .footer{
        background-color: blue;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size:20px;
        gap:2%;
        color: orange;
       
    }


